
@{
    ViewData["Title"] = "TestPage";
}

<h1>TestPage</h1>

<p>The Current Time: @(DateTime.Now.ToLongTimeString())</p>

<form action="/Home/TestPage" method="get">
    <label for="item">Item:</label>
    <input id="item" type="text" name="item" value="" />
    <input type="submit" value="Submit" />
</form>

<!-- This is an HTML Comment - I Hate it -->
@*
*   This is a C# Razor comment. I like it. It's HIDDEN from the user, and won't show up in DOM (via inspect element)
*@
@if (ViewBag.AddedItem != null)
{
    <ul>
        <li>@(ViewBag.AddedItem)</li>

    </ul>
}
